{% extends "layout.html"%} {% block content %}

<h1>hola este es proyecto X</h1>

<!-- mensaje de success al logearse -->
{% with success = get_flashed_messages(category_filter=['success']) %} {% if
success %} {% for msg in success %}
<p>{{ msg }}</p>
{% endfor %} {% endif %} {% endwith %}
<!-- -------------------------------------------------- -->
<section class="contenido">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aperiam
  voluptatem explicabo itaque quos libero praesentium repellendus, dolore
  facilis doloribus sint similique, quod repellat, vel totam dolor debitis
  exercitationem sit! Minus voluptas dolores ullam qui soluta saepe a earum quas
  odio cum quod reprehenderit tenetur expedita vel esse quasi, non, doloremque
  magnam, dolorem assumenda! Architecto quos totam iusto optio facilis! Fuga,
  corrupti blanditiis vitae dolore perferendis quibusdam. Expedita voluptatibus
  libero illo sint natus similique quae laudantium maxime voluptatum repellat!
  Debitis mollitia perspiciatis veniam error officiis, earum eligendi aspernatur
  a dignissimos. Doloremque laboriosam dolore nam id modi reprehenderit
  assumenda sed suscipit odit blanditiis error placeat pariatur ex, earum
  temporibus aliquid quaerat, voluptas repellat aut eaque, soluta ratione a quas
  quos. Aut! Omnis, unde deleniti perferendis ad quisquam iure quis vel sint
  quia? Sequi, eos sed totam voluptatibus dolorem magni, ad exercitationem
  facilis optio ipsum quasi temporibus iste dignissimos laboriosam. Nihil,
  veniam! Nemo officiis tempore asperiores repellendus maiores, illo quis nisi
  facere laborum quos quod alias in voluptatibus architecto harum, possimus
  labore distinctio perspiciatis dignissimos rem. Perspiciatis doloribus
  cupiditate consectetur ullam reprehenderit! Facere amet iure suscipit
  repudiandae odio nam saepe iste sapiente dicta fuga, consequatur similique
  reiciendis, ullam nobis quod voluptate! Et sint molestias non in excepturi
  alias cupiditate saepe dolor deleniti. Nulla aspernatur, aliquid doloremque
  nesciunt quam quaerat alias nihil est impedit commodi labore odit praesentium
  eum accusamus dolorum veritatis nostrum id sint mollitia? Voluptate dolorem
  esse dignissimos id! Exercitationem, ad? Nobis iste cum quos? Perferendis fuga
  perspiciatis magnam voluptatem inventore debitis consequatur nisi nihil,
  tempore architecto alias assumenda dolore animi voluptas dignissimos in vitae
  minus maiores sit quaerat corrupti a? Minus perspiciatis animi pariatur vitae?
  Quae, labore? Minima, a facilis. Iure nemo deserunt est maiores eveniet a
  architecto sapiente dolor officiis quas numquam accusamus, fuga, veritatis
  illo, eos libero enim? Ab debitis excepturi error voluptates nostrum quidem
  totam nobis voluptate animi provident officiis, eaque labore molestiae dolor
  nihil? Dolorem ea quidem porro earum cupiditate. Obcaecati ipsam porro fugit
  tempore ullam. Porro quos quasi rem culpa earum animi, repellat in. Maiores
  fuga molestias odit natus quasi sit ullam cumque nesciunt accusantium,
  blanditiis necessitatibus dolor consequatur doloribus aperiam dolorum eum illo
  assumenda. Minima doloremque sint facere, impedit tempore animi harum officiis
  reprehenderit ratione excepturi nulla porro beatae, nisi voluptatibus
  praesentium itaque totam? Accusamus rerum similique est ad deserunt aliquam
  delectus, ducimus assumenda. Quod blanditiis animi incidunt minus vitae, rem
  possimus accusantium cum autem? Voluptatem temporibus voluptate architecto
  ipsam voluptas dicta perferendis ipsa enim earum molestiae ad eos animi libero
  numquam, tempore porro! Maxime deleniti deserunt voluptatem nulla? Cumque
  corporis iste, nihil accusamus tempore esse fugit, sequi iure quis
  praesentium, facilis quasi dolorem. Omnis natus ea dolorum! Autem voluptatum
  necessitatibus architecto blanditiis velit. Voluptates aliquam ex ut tempore.
  Voluptas modi quia ex quas vero sequi similique deserunt. Fuga, tempora hic
  corrupti consequuntur iure dolore nam doloribus delectus asperiores rerum
  recusandae veritatis reprehenderit impedit! Vel vitae velit ullam deserunt
  commodi consequatur tempora nobis deleniti quo suscipit eligendi quis nemo,
  delectus impedit adipisci amet, tempore animi, nam cum sequi aliquam at
  ratione beatae magni. Enim. Corrupti perspiciatis exercitationem, quasi
  ratione iste error voluptates odit reprehenderit vitae porro necessitatibus.
  Iste commodi, voluptatum corrupti nulla totam eos dolor ullam corporis dolorem
  voluptas fuga eum labore adipisci illo. Minima id blanditiis optio, incidunt
  officia quibusdam repudiandae nisi impedit harum repellendus eveniet laborum
  sequi aperiam fuga cumque magnam, obcaecati quos! Hic vel fugit possimus
  voluptatum, necessitatibus eaque iusto dignissimos. Iusto consequuntur
  obcaecati, aperiam vero at similique non pariatur saepe, odio vitae eaque,
  voluptas nihil et possimus architecto ut quidem iste! Quo voluptates cumque
  amet? Porro dolore possimus voluptas culpa! Necessitatibus iusto quaerat omnis
  quidem ex repellendus illo odio voluptas mollitia fugiat, corporis inventore
  amet delectus aperiam, fugit neque facilis itaque pariatur magni harum culpa?
  Temporibus modi ab alias natus? Earum hic totam asperiores quo ex nihil minus
  non dolorum quis. Deserunt eaque hic, libero, minus expedita at inventore ipsa
  vel quas sit qui nam pariatur corporis enim impedit beatae? Animi delectus,
  alias, esse labore dignissimos atque eveniet aut, reprehenderit dolor nulla
  magnam perspiciatis praesentium tempora provident maxime expedita. Voluptate
  tenetur velit sapiente eos ullam eveniet eius. Commodi, explicabo voluptatem.
  Suscipit eos quas officia alias rem laudantium minus natus maiores ducimus
  sunt quos aspernatur dignissimos iste optio inventore fuga perspiciatis sequi,
  distinctio qui sed, atque animi accusantium! Consectetur, quisquam ad? Iusto
  perferendis reiciendis expedita repudiandae provident quaerat, esse veniam
  vero maiores id aliquid tempore beatae, eveniet explicabo possimus. Delectus
  repellendus consequatur alias cupiditate explicabo fuga ea necessitatibus
  vitae! Est, reiciendis. Nisi sit delectus fuga ipsam voluptate laudantium
  sequi dignissimos, quisquam laboriosam harum illum porro in, quo deleniti
  consequatur soluta eos sint cumque totam saepe aliquam ad optio animi.
  Obcaecati, quas? Quia fugiat reprehenderit repellat id necessitatibus
  asperiores, voluptatum porro fuga aut praesentium sit numquam aperiam. Atque
  voluptas sunt velit nostrum quae facere eveniet, earum, illum nam ullam, vitae
  amet assumenda. Explicabo ratione quas ex. Facere eos pariatur accusamus,
  alias corporis reprehenderit doloremque veniam, ducimus itaque dolore
  perspiciatis expedita aspernatur consequatur velit magni quo vero vitae,
  sapiente tempora officiis iure. Tempore. Nulla provident quia doloremque animi
  est et itaque quaerat cupiditate! Autem dolorem quae accusamus tempora
  repellat! Cupiditate architecto dolorem qui fugit aliquam modi quasi officia
  corporis, facilis eum cumque obcaecati? Soluta beatae molestias ipsum
  doloremque ipsam illo dolorum, quis numquam voluptatem fuga perferendis
  expedita eum, iusto voluptatibus minus. Alias, ipsa assumenda? Deleniti ipsam,
  atque ratione vero nulla quia error beatae. Suscipit repellat, autem incidunt
  vero libero excepturi asperiores reiciendis quisquam nulla quam sapiente fuga
  voluptates laboriosam illo distinctio blanditiis quo quas ex culpa ad ipsa
  molestias id commodi laborum. Illo. Amet maiores aspernatur molestias fuga
  corrupti beatae id excepturi nostrum laboriosam consectetur, ipsa molestiae in
  provident libero dolores iure cupiditate nemo, autem doloremque numquam harum
  deserunt qui. Mollitia, vero repellat. Dolorum, obcaecati ex modi nihil
</section>
{% endblock %}
